/* LANDING PAGE! */
 /* Hero Section */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Navbar */
.sidebar {
  max-width: 20%;        
  height: 100vh;
  position: sticky;  
  top: 0;
  background-color: #93A672;
}

.sidebar img{
  width: 10%;
}

#pawmetrics-logo-vertical{
  width: 30%;
  height: auto;
  pointer-events: none;
  margin: 3rem 3rem;
}  

.sidebar a{
  color: #5E4666;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 0 1rem;
  align-items: center;
}

.sidebar a:hover{
  color: #5E4666;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  align-self: center;
}



  /* Hover Effect Codepen */
  body {
  display: flex;
  min-height: 100vh;        
  background: #0f0f0f;
  margin: 0;
  font-family: Arial, sans-serif;
}

  .hover-underline {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
  }

  .hover-underline::after,
  .hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #9A72A6, #F4E3D9);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }

  .hover-underline::before {
    top: -5px;
    transform-origin: left;
  }

  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
  }






/* Footer */
.footerContainer{
  max-height: 40vh;
  background-color: #2E545C;
  color: #D9EEF3;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2% 4%;
}

.footerContent{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.socialsAndLogo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 15rem;
}

.socialIcons img{
  width: 70px;
  height: auto;
}

.footerPageLinks{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 15rem;
}

.footerPageLinks a{
  color: #D9EEF3;
  margin-bottom: 1rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.footerPageLinks a:hover{
  color: #BBD58F;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.footerPageLinks a:active{
  color: #BBD58F;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.footerLinks{
  flex-direction: column;
  margin-top: 20px;
  cursor: pointer;
}

.footerLinks p{
  margin: none;
}

.footerLinks p:hover{
  color: #BBD58F;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}





/* Header Section */
.dashboardContainer{
  min-height: 100vh;
  width: auto;
}

.dashboardContentsContainer{
  padding: 2% 3%;
}

.greetingContainer{
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0%;
  color: #5E4666;
  font-family: "Montserrat", sans-serif;
  padding: 2% 3%;
  padding-left: 0%;
}

.greetingContainer p{
  font-size: 1rem;
  font-weight: 500;
}

.greetingContainer h3{
  font-size: 2rem;
  font-weight: 700;
  margin: none !important;
}

.heroContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0%;
  min-height: 60vh;
}

.pawmetrics-logo-long{
  height: 12vmin;
  pointer-events: none;
}

.pawmetrics-header-image {
  height: 50vmin;
  pointer-events: none;
}

.App-header {
  background: #2E545C;
  background: linear-gradient(0deg, rgba(46, 84, 92, 1) 0%, rgba(244, 227, 217, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;    
  align-items: flex-start;
  justify-content: flex-start; 
}

.info-text {
  color: #5E4666;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.heroButton{
  background-color: #A68A72;
  color: #F4E3D9;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  text-decoration: none;
}

  /* Holographic Card Effect Codepen */
  .holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1% 2%;
  }

  .holographic-card {
    width: 300px;
    height: 70px;
    background: #A68A72;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-left: 0;
    margin-right: 5%;
    border-radius: 16px;
    transition: all 0.5s ease;
    border: none; 
    outline: none;
    box-shadow: inset -3px -3px 10px #816a58;
  }

  #heroButtonLink{
  text-decoration: none;
  color: #F4E3D9;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 5px #816a58;
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 2;
  }

  .holographic-card::before {
    content: '';
    position: absolute;
    top: -60%;
    left: -70%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      0deg, 
      transparent, 
      transparent 30%, 
      #F4E3D9
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
  }

  .holographic-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #F4E3D9;
    box-shadow: inset -3px -3px 10px #816a58;
  }

  .holographic-card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(180%);
  }

.buttonsHero{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}  

.cardBodyLong{
  background-color: #9A72A6;
  border-radius: 10px;
  padding: 20px;
  /* margin: 20px; */
  margin-top: 2rem;
  width: 40rem;
  min-height: 26rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  align-items: center !important;
}

.cardBodyShort{
  background-color: #9A72A6;
  border-radius: 10px;
  padding: 20px;
  /* margin: 20px; */
  margin-top: 2rem;
  width: 25rem;
  min-height: 26rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  align-items: center !important;
}

.cardHeadingText{
  color: #F4E3D9;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 3px 3px 5px #5E4666;
}

.cardRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}






/* COMPARISON PAGE! */
#dropdown-item-button{
  background-color: #2E545C;
  color: #D9EEF3;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  text-decoration: none;
}

#dropdown-item-button:hover{
  background-color: #5E4666;
  color: #eac9f3;
  border: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.dropdown-menu.show{
  background-color: #D9EEF3;
  border: none;
  border-radius: 16px;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.dropdown-item-text{
  color: #D9EEF3;
}

.dropdown-item{
  color: #D9EEF3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.btn.btn-secondary{
  background-color: #2E545C;
  color: #D9EEF3;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* margin-top: 20px; */
  text-decoration: none;
}

.btn.btn-secondary:hover{
  background-color: #5E4666;
  color: #eac9f3;
  border: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.card-title.h5{
  color: #D9EEF3;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 5px #312037;
  padding: 1rem;
}

.breedContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.compareContainer{
  min-height: 100vh;
  width: auto;
  flex-direction: column;
  padding: 2% 3%;
}

.selectorContainer{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important; 
  justify-content: center !important;
  gap: 5rem;
  /* margin-top: 2%; */
  /* width: 100%; */
}

.breedCardsContainer{
  margin-top: 2%;
}

.breedCompareContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
}






/* TIMELINE PAGE! */
#timelineCard{
  background-color: #9A72A6;
  font-family: "Montserrat", sans-serif;
  color: #F4E3D9;
  min-height: 35rem;
  border: none;
  border-radius: 16px;
  box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.400);
  align-items: center;
}

.timelineContainer{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(46, 84, 92, 1) 0%, rgba(244, 227, 217, 1) 100%);  display: flex;
  flex-direction: column;
  padding: 2% 3%;
}